body {
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 96px;
    background-color: #1F2937;
    align-items: center;
    border: 0;
    margin: 0;
}
.header-links{
    display: flex;
    gap: 18px;
    
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color:#1F2937;
    display: flex;
    padding-block: 96px;
    justify-content: center;
    align-items: center;
    padding-inline: 96px;
}
.hero .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB
}

.hero .text {
    flex: 1 1 20%;
}

.lake-image {
    flex: 1 1 20%;
}

img {
    width: 100%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 192px;
    padding-bottom: 96px;
    
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-block: 32px;
}

.random-image {
    flex: 1 1 20%; 
    min-width: 100px;
    max-width: 15vw;
}

.random-image-inner {
    border: 1px solid #3882F6;
    border-radius: 15px;
}

.images {
    display:flex;
    gap: 3vmax;
}

.image-subtext {
    text-align: center;
    color: #1F2937;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-inline: 216px;
    padding-block: 96px;
}
.quote .text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style:italic;
    text-align: start;
}

.quote .attribution {
    color: #1F2937;
    font-size: 28px;
    font-weight: 700;
    text-align: right;
    margin-left: auto;
}